{% extends "shop/main.html" %}

{% block title %}
  <title>{{ game.title }}</title>
{% endblock %}

{% block content %}
<div id="game_page">
    {% if game.photo %}
        <p><img src="/media/{{ game.photo }}" id="img"></p>
    {% endif %}
    <h1>{{ game.title }}</h1>
    <div id="genres">
      <li>Жанры:</li>
      {% for gen in genre %}
        <li>{{ gen }}</li>
      {% endfor %}
    </div>
    <p>Издатель: {{ game.publisher }}</p>
    <p>Вес: {{ game.size }} ГБ</p>
    <h2>Цена: {{ game.cost }} руб.</h2>
    <a href="https://ya.ru/search/?text=купить {{ game.title }}"><button>Купить</button></a>
    <p id="description">{{ game.description|linebreaksbr }}</p>
</div>
{% endblock %}
