{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Game Shop</title>
    {% endblock %}
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<header>
    <div id="header">
                <a href="{% url 'main' %}"><button class="navhref">Главная</button></a>
                {% block genre %}
                    <div class="dropdown">
                      {% if head == "Жанры" %}
                        <button>{{ head }}</button>
                      {% else %}
                        <button id="chosen">{{ head }}</button>
                      {% endif %}
                      <div class="dropdown-options">
                          {% for i in genres %}
                            <a href="/shop/{{ i.slug }}/">{{ i.name }}</a>
                          {% endfor %}
                      </div>
                    </div>
                {% endblock %}
                <a href="{% url 'about' %}"><button class="navhref">О сайте</button></a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}"><button class="navhref">{{ user.username }}</button></a>
                    <a href="/logout"><button class="navhref">Выйти</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button class="navhref">Войти</button></a>
                    <a href="{% url 'register' %}"><button class="navhref">Регистрация</button></a>
                {% endif %}
    </div>
</header>

<main id="page">
{% block content %}
    <content>
        {% for game in games %}
            <a href="/shop/game/{{ game.slug }}/" id="ahref">
                <game id="game">
                {% if game.photo %}
                    <p><img src="/media/{{ game.photo }}" id="img"></p>
                {% endif %}
                    <h2>{{ game.title }}</h2>
                    {% for i in game.genre %}
                        <li>{{ i }}</li>
                    {% endfor %}
                    <h1 id="cost">{{ game.cost }} руб.</h1>
                </game>
            </a>
        {% endfor %}
    </content>
{% endblock %}
</main>

<footer>
    <div id="footer">
        <p>Git: https://github.com/Faster190</p>
    </div>
</footer>

</body>
</html>
